Django>=6.0.3
djangorestframework>=3.15.0
django-environ
google-search-results
psycopg2-binary
django-cors-headers
django-storages
cloudinary
requests
beautifulsoup4
celery>=5.3
redis>=5.0
django-redis>=5.4
openai>=1.0.0
django-prometheus>=2.3.1
gunicorn